{% extends 'teacher_dashboard.html' %}

{% block content %}

<table class="table table-bordered table-striped">
<tr>
    <th>Title</th>
    <th>Description</th>
    <th>Due Date</th>
    <th>Actions</th>
</tr>
{% for assignment in assignments %}
<tr>

<td>{{ assignment.title }}</td>

<td>{{ assignment.description }}</td>

<td>{{ assignment.due_date }}</td>

<td>

<a href="{% url 'college:edit_assignment' assignment.id %}"
class="btn btn-warning btn-sm">

Edit

</a>

<a href="{% url 'college:delete_assignment' assignment.id %}"
class="btn btn-danger btn-sm">

Delete

</a>


<a href="{% url 'college:view_submissions' assignment.id %}"
   class="btn btn-primary">

View Submissions

</a>

</td>

</tr>
{% endfor %}
</table>

{% endblock %}