{% extends 'teacher_dashboard.html' %}

{% block content %}

<div class="container mt-4">

<h2>{{ assignment.title }}</h2>

<h5>{{ assignment.course.name }}</h5>

<table class="table table-bordered">

<thead>

<tr>

<th>Student</th>
<th>Submitted On</th>
<th>Download</th>
<th>Marks</th>
<th>Action</th>

</tr>

</thead>

<tbody>

{% for submission in submissions %}

<tr>

<td>{{ submission.student.user.username }}</td>

<td>{{ submission.submitted_on }}</td>

<td>

<a href="{{ submission.file.url }}"
class="btn btn-primary btn-sm">

Download

</a>

</td>

<td>

{% if submission.marks %}

{{ submission.marks }}

{% else %}

Not Graded

{% endif %}

</td>

<td>

<a
class="btn btn-success btn-sm"
href="{% url 'college:grade_submission' submission.id %}">

Grade

</a>

</td>

</tr>

{% empty %}

<tr>

<td colspan="5">

No submissions yet.

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}